$main-color: hsl(208, 100%, 97%); // #f0f8ff
$secondary-color: hsl(227, 41%, 29%); // #2c3968
$main-border-color: hsl(0, 0%, 80%); // #cccccc

// Spaces
$ten-p: 0.625rem;
$tewenty-p: 1.25rem;
$tewenty-five-p: 1.5625rem;
$thirty-p: 1.875rem;
$thirty-five-p: 2.1875rem;
$forty-p: 2.5rem;
$forty-five-p: 2.8125rem;
$fifty-p: 3.125rem;
